img{
  width:100px;
  height:auto;
  float:right;
}
h1{
  font-size:20px;
  text-align: center;
}
h2{
  font-family: sans-serif;
  font-weight: bold;
  text-align: center;
}
h3{
  font-family:sans-serif;
  font-weight: bold;
  color: darkslategrey;
  text-align: center;
}
h5{
  font-weight: bold;
  font-size: 20px

}
.aboutme {
padding: 20px;
}
.boxmodel {
  border: 5px solid dodgerblue;
  padding: 10px;
  background-color: dodgerblue;
  color: white
}
.comments {
  font-style: italic;
  color: red
}
